
html,body,#container {
	width:100%;
	height:100%;
	margin: 0;
	background-color: #1e1e1e;
	font-family: Consolas, "Courier New", "monospace";
	color: #d4d4d4;
	}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track {  background-color: hsla(0,0%,29%,.4); }
::-webkit-scrollbar-thumb { background-color: hsla(0,0%,59%,.4); }

div, p { margin: 0; padding: 0; box-sizing: border-box; }

#container { margin: 0px; position: relative; overflow: auto; width: 100%; height: 100%}

#sidebar { width: 20%; height: calc( 100% - 45px ); position: absolute; left: 0; top: 45px; border-right: 
	1px solid #fff; }

#sidebar .header {
 overflow: hidden;
 width: 100%;
 height: 40px;
 position: absolute;
 left: 0;
 top: 0;
 background-color: darkslategray;
 line-height: 40px;
 white-space: nowrap;
 }
#open-files, #folder-files {
	position: absolute;
	/*top: 40px;*/
	top:0px;
	width: 100%;
	/*height: calc( 100% - 40px );*/
	height:100%;
	background-color: #343a40;
	padding: 5px;
	}
#folder-files { display: none; overflow: auto; }
#folder-files.loading { }
#code-area{
 width: 80%;
 height: calc( 100% - 45px);
 position: absolute;
 border-left: 1px solid rgba(0, 0, 0, 0.3);
 right: 0px;
 top: 45px;
 }
#code-header{
	width: 100%;
	height: 30px;
	color: #AAA;
	background-color: #AAA;
	/* line-height: 40px; */
	padding-left: 10px;
	}
#code-header .close { float: right; cursor: pointer; }
#code-editor{width: 100%;height: calc( 100% - 30px);background-color: #343a40;}
#folder-files p { padding: 10px; color: #999; }
#folder-files input { margin-left: 17px; color: #AAA; background-color: #333;
 border: 1px solid #888; padding: 4px; }
#folder-files .icon { fill: #777; width: 14px; height: 14px; padding: 1px; display: inline-block; }
.folder .icon { fill: #5abd66 !important; opacity: 0.5; }
.folder.current-folder .icon { fill: #DDD !important; opacity: 0.5; }
.parent-folder .icon { fill: #729ad8 !important; }
button:focus, input:focus { outline: 0; }
.editor-wrapper { width: 100%; height: 100%; }
.filename {color: #212529;padding: 2px 5px;white-space: nowrap;overflow: hidden;}
.filename { padding: 0px 2px; }
#open-files .filename:hover, #folder-files .filename:hover { color: #FFF !important; 
	cursor: pointer; background-color: #222; }
#open-files .filename:hover .icon, #folder-files .filename:hover .icon { fill: #FFF !important; }
.filename.selected { background-color: #333; }
.filename.modifyed { text-decoration: underline; }
.filename.notloaded { opacity: 0.5; }
.filename .number {
	opacity: 0.8;
	font-size: 0.9em;
	/* border-radius:2px; */
	/* background-color:#333; */
	/* border: 1px solid #444; */
	margin-right: 8px;
	min-width: 1em;
	}
.filename .close { float: right; opacity: 0.5; cursor: pointer; }
.filename.folder { font-weight: bold; color: #5abd66; }
.filename.parent-folder { font-weight: bold; color: #729ad8; }
.filename.current-folder { font-weight: bold; color: #DDD; }
.filename.new-file { opacity: 0.5; padding-left: 8px !important; margin-bottom: 10px; }
.filename.blocked { opacity: 0.25; cursor: not-allowed !important;}
.filename.new-file input { width: 100%; background-color: black; color: white; 
	border: 0; padding: 4px; }
.filename.open { border-right: 4px solid #445c5c; }
span.size { opacity: 0.5; }
#code-header .filename { color: #AAA;}
#code-header .filename .slash { color: #f242f2; margin: 0px 2px; }
#code-header .filename .last { color: white; }
#sidebar .header button {
	background-color: #ddd0;
	margin-right: 2px;
	border: 0;
	color: #f8f9fa;
	cursor: pointer;
	font-size: 0.8em;
	}
#sidebar button .icon {fill: white;width: 25px;height: 20px;padding: 2px;margin-top: 8px;}
#sidebar button:hover .icon { fill: white; }
#sidebar button.selected { background-color: #444; }
#sidebar button.selected .icon { fill: #DDD; }
#sidebar .project-title { background-color: #404040; color: #b5b5b5; padding: 4px;
 padding-left: 10px; width: 100%; margin-bottom: 4px; }
#sidebar .project-title .buttons { float: right; }
#sidebar .project-title .buttons span { margin-right: 4px; cursor: pointer; }
.saving  #code-header { background-color: #AAA !important; color: black !important; }
.saving  #code-editor { outline: 1px solid #AAA !important; }

#bottom {
 position: absolute;
 overflow: hidden;
 height: 30%;
 width: 80%;
 left:20%;
 bottom: 0;
 background-color: #eeeeee;
 color: #AAA;
 }
#bottom .text-input { height: 30px; width: 40%; }
#bottom .prompt { width: 14px; display: inline-block; }
#bottom input { background-color: black; width: calc( 100% - 14px ); height: 100%;
 border: 0; color: white; font-size: 16px; font-family: "Courier New";}

#console {width: 35%;/* background-color: black; */color: #EEE;overflow: auto;height:100%;display: inline-block;}
#container.show_console #top { height: 50%; }
#container.show_console #console { display: block !important; height: calc( 100% - 30px ); }
#container.show_console #bottom { height: 50%; }
#console .msg {color: #888;padding-left: 5px;}
#console .msg.me { color: white; padding-left: 5px; }
#console .msg.warn { color: #ffde3a; }
#console .msg.error { color: #f85d5d; }
#console .msg.folder { color: #5abd66; }

#loader { font-family: Arial Black; font-size: 50px; text-align: center; width: 100%;
 height: 100%; color: #222; }

.terminal_xterm{
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	/* bottom: 0; */
	/*top: 75%;*/
	/*left:30%;*/
	/* margin-top: 45px; */
}

#container_terminals{
	display: block;
	position: relative;
	/* top: 68%; */
	width: 100%;
	/* left: 20%; */
	height: 100%;
} 

#title_bar {
	text-align: center;
	background-color:#343a40;
	height: 25px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
}

#header_for_tabs {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0%;
	height: 40px;
}

#menu_bar{
	background-color:#343a40;
	height: 20px;
	border-bottom: 1px solid white;
}

.menu_button{
	display: inline-block;
	border: none;
	color: #fff;
	background-color: #343a40;
	font-size: 14px;
	/* width:50px; */
	position: absolute;
}

.dropdown-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border : 1px solid white;
  background-color: #eee;
}
.dropdown-ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
}
.dropdown-ul li a:hover {
  background-color: #aaa;
}

#bottom_header{
	height: 30px;
	background-color: #AAA;
}

#bottom_header_ul{
	display: block;
  	width: 100%;
  	text-decoration: none;
  	padding: 0px;
  	margin: 0;
  	font-size: 14px;
}

.bottom_header_ul_li{
	display: inline-block;
	padding-top: 3px;
}